.top-header{
	font-size: 28px;
	display: flex;
    justify-content: space-between;
    color: white;
    padding:10px;
}
.main{
	background-color: white;
	height: 100vh;
	
	&.dark{
		background-color: #1e2023;
		.description p{
			color:#b3b3b3;;
		}.description{
			.skip,h5{
				color:white;
			}
			
		}
	}
	&.danger{
		background-color: #f25454;
		.description p{
			color:#fdfdfd;
		}
	}
	&.primary{
		background-color: #3171e0;
		.description p{
			color:#fdfdfd;
		}
	}
	&.success{
		background-color: #0ec254;
		.description p{
			color:#fdfdfd;
		}
	}
	&.warning{
		background-color: #ffce00;
		.top-header{
			color: black;
		}
		.description p{
			color:#424242;
		}.description{
			.skip,h5{
				color:black;
			}
			
		}
	}
	&.purple{
		background-color: #7e57ff;
		.description p{
			color:#fdfdfd;
		}
	}
	&.default{
		background-color: white;
		.top-header{
			color: black;
		}
		.description p{
			color:#9a9a9a;
		}.description{
			.skip,h5{
				color:black;
			}
			
		}
	}
}

.description{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 48px);
    color: white;
    img{
    	height: 45%;
    }
	h5{
		 font-size: 19px;
		 padding-right: 30px;
         padding-left: 30px;
         font-weight: 700;
         align-self: start;
	     padding: 0px 30px;
	     margin: 0px;
	     text-align: center;
	     width: 100%;
	}
	p{
		font-size: 13px;
    	color: #424242;
    	padding: 0px 30px;
    	text-align: center
	}
	ion-fab-button{
		align-self: center;
	}
}