
<ion-content>
<ion-slides pager="true">
      <ion-slide>
      	<div class="main">
			<div class="overlay"></div>
			<div class="top-header">
				<ion-icon name="arrow-back" [routerLink]="['/home']"></ion-icon>
		    	<ion-icon name="close"></ion-icon>
			</div>
			<div class="description">
				<h4>Introducing a great product for creating your startup.</h4>
				<p>Magnificent UI Kit with Premium Quality Screens</p>

			</div>
		</div>
      </ion-slide>
      <ion-slide>
      	<div class="main">
			<div class="overlay"></div>
			<div class="top-header">
				<ion-icon name="arrow-back" [routerLink]="['/home']"></ion-icon>
		    	<ion-icon name="close"></ion-icon>
			</div>
			<div class="description">
				<h4>Introducing a great product for creating your startup.</h4>
				<p>Magnificent UI Kit with Premium Quality Screens</p>
				<ion-fab-button color="light" class="center">
				      <ion-icon name="arrow-forward" ></ion-icon>
				</ion-fab-button>
			</div>
		</div>
      </ion-slide>
      <ion-slide>
      	<div class="main">
			<div class="overlay"></div>
			<div class="top-header">
				<ion-icon name="arrow-back" [routerLink]="['/home']"></ion-icon>
		    	<ion-icon name="close"></ion-icon>
			</div>
			<div class="description">
				<h4>Introducing a great product for creating your startup.</h4>
				<p>Magnificent UI Kit with Premium Quality Screens</p>
				<ion-fab-button color="light" class="right">
				      <ion-icon name="arrow-forward" ></ion-icon>
				</ion-fab-button>
			</div>
		</div>
      </ion-slide>
      <ion-slide>
      	<div class="main">
			<div class="overlay"></div>
			<div class="top-header">
					<ion-icon name="arrow-back" [routerLink]="['/home']"></ion-icon>
			    	<ion-icon name="close"></ion-icon>
				</div>
			<div class="description w-img">
				
				<h4>Introducing a great product for creating your startup.</h4>
				<p>Magnificent UI Kit with Premium Quality Screens</p>
				<img src="assets/images/mob-ex.png" alt="">
				<ion-fab-button color="light" class="center">
				      <ion-icon name="arrow-forward" ></ion-icon>
				</ion-fab-button>
			</div>
		</div>
      </ion-slide>
       <ion-slide>
      	<div class="main">
			<div class="overlay"></div>
			<div class="top-header">
					<ion-icon name="arrow-back" [routerLink]="['/home']"></ion-icon>
			    	<ion-icon name="close"></ion-icon>
				</div>
			<div class="description w-img">
				
				<h4>Introducing a great product for creating your startup.</h4>
				
				<img src="assets/images/mob-ex.png" alt="">
				<p>Magnificent UI Kit with Premium Quality Screens</p>
				<h4>Start Now</h4>
				<ion-fab-button color="light" class="center">
				      <ion-icon name="arrow-forward" ></ion-icon>
				</ion-fab-button>
			</div>
		</div>
      </ion-slide>
      <ion-slide>
      	<div class="main">
			<div class="overlay"></div>
			<div class="top-header">
					<ion-icon name="arrow-back" [routerLink]="['/home']"></ion-icon>
			    	<ion-icon name="close"></ion-icon>
				</div>
			<div class="description w-img">
				
				<h4>Introducing a great product for creating your startup.</h4>
				
				<img src="assets/images/mob-ex.png" alt="">
				<p>Magnificent UI Kit with Premium Quality Screens</p>
				<ion-button expand="block" class="start-btn">Get Started</ion-button>
			</div>
		</div>
      </ion-slide>
      <ion-slide>
      	<div class="main">
			<div class="overlay"></div>
			<div class="top-header">
					<ion-icon name="arrow-back" [routerLink]="['/home']"></ion-icon>
			    	<ion-icon name="close"></ion-icon>
				</div>
			<div class="description w-icon">
				<ion-icon name="wifi" ></ion-icon>
			</div>
		</div>
      </ion-slide>
</ion-slides>

</ion-content>
