<ion-content>
  <ion-slides pager="true">
      <ion-slide>
        <div class="main default">
			<div class="top-header">
				<ion-icon name="arrow-back" [routerLink]="['/home']"></ion-icon>
		    	<ion-icon name="close"></ion-icon>
			</div>
			<div class="description">
				<h5>Magnificent Premium UI Kit for Your Startup.</h5>
				<p>Make your wonderful product today.</p>
				<img src="assets/images/mob-ex.png" alt="">
				<ion-fab-button color="dark">
				      <ion-icon name="arrow-forward" ></ion-icon>
				</ion-fab-button>
			</div>
		</div>
     </ion-slide>
     <ion-slide>
        <div class="main dark">
			<div class="top-header">
				<ion-icon name="arrow-back" [routerLink]="['/home']"></ion-icon>
		    	<ion-icon name="close"></ion-icon>
			</div>
			<div class="description">
				<h5>Magnificent Premium UI Kit for Your Startup.</h5>
				<p>Make your wonderful product today.</p>
				<img src="assets/images/mob-ex.png" alt="">
				<ion-fab-button color="light">
				      <ion-icon name="arrow-forward" ></ion-icon>
				</ion-fab-button>
			</div>

		</div>
     </ion-slide> 
     <ion-slide>
        <div class="main primary">
			<div class="top-header">
				<ion-icon name="arrow-back" [routerLink]="['/home']"></ion-icon>
		    	<ion-icon name="close"></ion-icon>
			</div>
			<div class="description">
				<h5>Magnificent Premium UI Kit for Your Startup.</h5>
				<p>Make your wonderful product today.</p>
				<img src="assets/images/mob-ex.png" alt="">
				<ion-fab-button color="light">
				      <ion-icon name="arrow-forward" ></ion-icon>
				</ion-fab-button>
			</div>
		</div>
     </ion-slide>
     <ion-slide>
        <div class="main danger">
			<div class="top-header">
				<ion-icon name="arrow-back" [routerLink]="['/home']"></ion-icon>
		    	<ion-icon name="close"></ion-icon>
			</div>
			<div class="description">
				<h5>Magnificent Premium UI Kit for Your Startup.</h5>
				<p>Make your wonderful product today.</p>
				<img src="assets/images/mob-ex.png" alt="">
				<ion-fab-button color="light">
				      <ion-icon name="arrow-forward" ></ion-icon>
				</ion-fab-button>
			</div>
		</div>
     </ion-slide>
     <ion-slide>
        <div class="main warning">
			<div class="top-header">
				<ion-icon name="arrow-back" [routerLink]="['/home']"></ion-icon>
		    	<ion-icon name="close"></ion-icon>
			</div>
			<div class="description">
				<h5>Magnificent Premium UI Kit for Your Startup.</h5>
				<p>Make your wonderful product today.</p>
				<img src="assets/images/mob-ex.png" alt="">
				<ion-fab-button color="dark">
				      <ion-icon name="arrow-forward" ></ion-icon>
				</ion-fab-button>
			</div>
		</div>
     </ion-slide>
     <ion-slide>
        <div class="main purple">
			<div class="top-header">
				<ion-icon name="arrow-back" [routerLink]="['/home']"></ion-icon>
		    	<ion-icon name="close"></ion-icon>
			</div>
			<div class="description">
				<h5>Magnificent Premium UI Kit for Your Startup.</h5>
				<p>Make your wonderful product today.</p>
				<img src="assets/images/mob-ex.png" alt="">
				<ion-fab-button color="light">
				      <ion-icon name="arrow-forward" ></ion-icon>
				</ion-fab-button>
			</div>
		</div>
     </ion-slide>
     <ion-slide>
        <div class="main success">
			<div class="top-header">
				<ion-icon name="arrow-back" [routerLink]="['/home']"></ion-icon>
		    	<ion-icon name="close"></ion-icon>
			</div>
			<div class="description">
				<h5>Magnificent Premium UI Kit for Your Startup.</h5>
				<p>Make your wonderful product today.</p>
				<img src="assets/images/mob-ex.png" alt="">
				<ion-fab-button color="light">
				      <ion-icon name="arrow-forward" ></ion-icon>
				</ion-fab-button>
			</div>
		</div>
     </ion-slide> 
  </ion-slides>
</ion-content>
