<ion-content>
  <ion-slides pager="true">
      <ion-slide>
        <div class="main default">
			<div class="top-header">
		    	<a [routerLink]="['/home']" class="skip">Skip</a>
			</div>
			<div class="description">
				<ion-icon name="wifi"></ion-icon>
			</div>
		</div>
     </ion-slide>
     <ion-slide>
        <div class="main dark">
			<div class="top-header">
		    	<a [routerLink]="['/home']" class="skip">Skip</a>
			</div>
			<div class="description">
				<ion-icon name="wifi"></ion-icon>
			</div>

		</div>
     </ion-slide> 
     <ion-slide>
        <div class="main primary">
			<div class="top-header">
		    	<a [routerLink]="['/home']" class="skip">Skip</a>
			</div>
			<div class="description">
				<ion-icon name="wifi"></ion-icon>
			</div>
		</div>
     </ion-slide>
     <ion-slide>
        <div class="main danger">
			<div class="top-header">
		    	<a [routerLink]="['/home']" class="skip">Skip</a>
			</div>
			<div class="description">
				<ion-icon name="wifi"></ion-icon>
			</div>
		</div>
     </ion-slide>
     <ion-slide>
        <div class="main warning">
			<div class="top-header">
		    	<a [routerLink]="['/home']" class="skip">Skip</a>
			</div>
			<div class="description">
				<ion-icon name="wifi"></ion-icon>
			</div>
		</div>
     </ion-slide>
     <ion-slide>
        <div class="main purple">
			<div class="top-header">
		    	<a [routerLink]="['/home']" class="skip">Skip</a>
			</div>
			<div class="description">
				<ion-icon name="wifi"></ion-icon>
			</div>
		</div>
     </ion-slide>
     <ion-slide>
        <div class="main success">
			<div class="top-header">
		    	<a [routerLink]="['/home']" class="skip">Skip</a>
			</div>
			<div class="description">
				<ion-icon name="wifi"></ion-icon>
			</div>
		</div>
     </ion-slide> 
  </ion-slides>
</ion-content>
