<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
  <ion-button [routerLink]="['/introa']">introA</ion-button>
  <ion-button [routerLink]="['/introb']">introb</ion-button>
  <ion-button [routerLink]="['/introc']">introc</ion-button>
  <ion-button [routerLink]="['/introd']">introd</ion-button>
  <ion-button [routerLink]="['/introe']">introe</ion-button>
  <ion-button [routerLink]="['/introf']">introf</ion-button>
  <ion-button [routerLink]="['/introg']">introg</ion-button>
  <ion-button [routerLink]="['/introh']">introh</ion-button>
  <ion-button [routerLink]="['/menua']">menua</ion-button>
</ion-content>
